# Dependency directory
node_modules
tests
.env
.enxexample
dist

#cache
cache/*

#temp
temp/audios/*.mp3
temp/debloater/*.wav
temp/debloater/*.ogg
temp/debloater/*.mp3
temp/spectro/audio/*.wav
temp/spectro/images/*.png
beatmapsets